.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 200px;
    flex-direction: column;
    height: 320px;
    
}

.inside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid black;
    padding: 10px 35px 80px;
    background-color: aliceblue;
    font-size: 20px;
}

button {
    background-color: grey;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.scoreboard {
    font-size: 25px;
}
